*{
    font-size: 14px;
}
.big-bold-fonts{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.img-set{
    vertical-align: top;
    width: 3vw;
    height: 9vh;
    border: 1px solid #00000047;
    border-radius: 10%;
    margin: 6%;
}
.img-set:hover{
    box-shadow:0px 0px 4px 2px #ffb500b8;
    cursor: pointer;
}
.img-center{
    width: 100%!important;
    height: auto!important;
    margin-left: auto;
    margin-right: auto;
}
.text-rating{
    font-size: 13px!important;
}
#priceHeader{
    display: inline-block;
}

#discount{
    color: rgb(160, 35, 35);
    /* display: inline-flex; */
    font-size: 25px;
}
.price{
    display: inline-block;
}
.my-rounded-border{
border-radius: 10px;
}
#currency{
    font-size: 18px!important;
    vertical-align: top;
    font-weight: 400;
}
#product_price{
    font-size: 25px;
}
#mrp{
    font-size: 12px !important;
}
#firebase{
    font-size: 14px!important;
    line-height: 20px!important;
}
.remove-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.color-blue{
    color: #007185;
}
.color-secondary{
    color:#B12704;
}
.color-success{
    color: #007600!important;
}
.display-inline-block{
    display: inline-block;
}
.delivery-options{
    font-size: 12px!important;
    line-height: 16px!important;

}
.free-delivery-section{
    padding-left: 0px;
}
.free-delivery-section li{
    list-style-type: none;
}

.border-bottom{
    border-bottom: 1px solid black;
}
.color-bubble{
    height: 35px;
    width: 35px;
    background: #ffc107;
    border: 1px solid black;
    border-radius: 50%;
}
.border-round{
    border-radius: 50px !important;
}
.buynow-btn-color{
    background: #ff8c00;
}
.buynow-btn-color:hover{
    background: #ff7300;
}
.deliveryOptions-roundImage{
    height: 50px !important;
    width: 50px !important;
}

/* Special offers */
#special-offers li{
    word-wrap: break-word;
    margin: 0;
    padding: 1px;
    font-size: 16px !important;
}
#haveQuestion p{
    margin-bottom: 8px!important;
    color: #565959!important;
    font-size: 14px!important;
    line-height: 16px!important;
}
#haveQuestion{
    /* margin: 20px; */
    vertical-align: middle;
}
#haveQuestionSearch{
      background: #e9ecef;
      border: none;
      background-color: transparent;
      font-style: italic;
      vertical-align: middle;
      width: 70%;
    padding-left: 15px;
} 
.searchFavIcon{
    vertical-align: middle;
}
.haveQuestionSearchBar{
    vertical-align: baseline;
    padding: 5px 15px;
        width: 75vw;
}
.haveQuestionSearchBar input:focus {
    outline: none;
  }
/* Product details section*/
#productDetailsSection ul li{
    word-wrap: break-word;
    font-size: 16px !important;
   margin: 0px;
   padding: 1px;
}
#productDetailsSection ul{
   list-style-type: none;
}
/* Product Description section */
#product-description-section{
    font-size: 14px !important;
    font-weight: 500;
}


._brod a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

._brod a:hover { text-decoration: none; }
