/* *{
    padding:0%;
    margin:0%;
} */

#catList{
    padding-top: 2px;
    font-size: large;
}
#catList ul li{
    list-style: none;
    padding-top:2px ;


}
#list1{
    padding-left: 8px;
}


#list2{
    padding-left: 8px;
}

