h2 {
    padding-top: 1%;
}

.b1 {
    border: 40px solid ghostwhite;
}

.container-a {
    background-color: lightgrey;
    width: 100%;
    border: 5px solid gainsboro;
    padding: 20px;

}
.description
{
    /* max-height: px; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}
#listing
{
    display: flex;
}
#listing1
{
    display: flex;
}