h2 {
    padding-top: 1%;
}

.b1 {
    border: 40px solid ghostwhite;
}

.container-a {
    background-color: lightgrey;
    width: 100%;
    border: 5px solid gainsboro;
    padding: 20px;

}
.description
{
    /* max-height: px; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}
#listing
{
    display: flex;
}
#listing1
{
    display: flex;
}
.stars a {
    display: inline-block;
    padding-right: 4px;
    text-decoration: none;
    margin: 0;
}

.stars a:after {
    position: relative;
    font-size: 18px;
    font-family: 'FontAwesome', serif;
    display: block;
    content: "\f005";
    color: #9e9e9e;
}

span {
    font-size: 0;
    /* trick to remove inline-element's margin */
}

.stars a:hover~a:after {
    color: #9e9e9e !important;
}

span.active a.active~a:after {
    color: #9e9e9e;
}

span:hover a:after {
    color: blue !important;
}

span.active a:after,
.stars a.active:after {
    color: blue;
}