
.container-b{
    background-color: lightgrey;
  width: 100%;
  border: 15px solid gainsboro;
  padding: 30px;
 
}
.women{
  padding-left: 20%;
  padding-bottom: 10%;
  text-decoration: bisque;
  text-decoration-color: black;

}
h2{

  padding-bottom: 1%;
}
h4{

  padding-top: 10%;
  text-align:left;
  
}
h5{
  display:inline-flex;
  padding-left: 20px;
  /* vertical-align: top; */
}
h6{
 padding-top: 10%;

}